{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<h2>{{ developer.user.username }}'s Profile</h2>

{% if developer.profile_image %}
    <img class="border border-info" src="{{ developer.profile_image.url }}" alt="Profile Image" width="150" height="150">
{% else %}
    <img class="border border-info" src="{% static 'images/default.png' %}" alt="Default Image" width="150" height="150">
{% endif %}


<p><strong>Email:</strong> {{ developer.user.email }}</p>
<p><strong>Bio:</strong> {{ developer.bio }}</p>
<p><strong>Skills:</strong> {{ developer.skills }}</p>
<p><strong>Level:</strong> {{ developer.level|title }}</p>

{% if developer.github %}
  <p><img src="{% static 'images/github.png' %}" alt="GitHub" width="30"><a class="link-underline-danger link-underline-opacity-0" href="{{ developer.github }}" target="_blank">GitHub</a></p>
{% endif %}
{% if developer.linkedin %}
  <p><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="30"><a class="link-underline-danger link-underline-opacity-0" href="{{ developer.linkedin }}" target="_blank">LinkedIn</a></p>
{% endif %}
{% endblock %}
